/*----------------------------------------*/
/*  16. ABOUT CSS START
/*----------------------------------------*/









.about__area-8 {
  padding-bottom: 170px;

  @media #{$lg} {
    padding-bottom: 90px;
  }

  @media #{$md} {
    padding-bottom: 90px;
  }

  @media #{$sm} {
    padding-bottom: 80px;
  }
}



