@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.menu-anim-wrapper {
  overflow: hidden;
  height: 15px;
  display: flex;
  align-items: center;
 
}

.menu-anim-wrapper span {
  text-transform: uppercase;
}

// veriables here 

:root {
  --primary: #c9f31d;
  --secondary: #2c2c2c;

  --black: #000;
  --black-2: #121212;
  --black-3: #555;
  --black-4: #1d1d1d;
  --black-5: #343434;
  --black-6: #262626;
  --black-7: #555555;
  --black-13: #666;

  --white: #fff;
  --white-2: #efefef;
  --white-3: #e9e9e9;
  --white-4: #f0f0f0;
  --white-5: #fbfbfb;
  --white-6: #d7d7d7;

  --gray: #c2c2c2;
  --gray-2: #999;
  --gray-3: #a8a8a8;
  --gray-4: #f6f6f6;
  --gray-5: #bbb;
  --gray-6: #2b2b2b;
  --gray-7: #b9b9b9;
  --gray-8: #8E8E8E;
  --gray-9: #aaa;
  --gray-10: #7c7c7c;
  --gray-11: #D9D9D9;
  --gray-12: #383838;
  --gray-13: #ccc;
  --gray-14: #dfdfdf;
  --gray-15: #C0C0C0;

  --pink: #FAEDE9;
  --pink-2: #FF9776;
  --pink-3: #F3ECEC;
  --pink-4: #FFFAF0;
  --pink-5: #E0E3CC;

  --bg-line: #1e1e1e;


  --d-gray: #6A6A6A;
  --d-black: #1A1A1A;
  --d-black-2: #171717;
  --d-black-3: #1A1A1A;
}

// Font Family | newYork
@font-face {
  font-family: newYork;
  src: url('/assets/fonts/newyork/FontsFree-Net-NewYork.ttf');
  font-weight: 400;
}



// Font Family
$font_primary: 'Kanit', sans-serif;
$font_awesome: 'Font Awesome 6 Free';
$font_newyork: 'newYork';


// Responsive Variable
$xxxl: 'only screen and (min-width: 1920px)';
$xxl: 'only screen and (min-width: 1400px) and (max-width: 1919px)';
$xxl-1: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$xl: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md: 'only screen and (min-width: 768px) and (max-width: 991px)';
$sm: 'only screen and (max-width: 767px)';
$xs: '(max-width: 575px)';


/* 
.menu-anim-wrapper  span {
  
  transition: all 0.2s ease-in-out;
} */

.menu-anim-sub {
  position: relative;
  width: 11px;
  height: 100%;
  margin: 0 1px;
}

.object-cover { 
  object-fit: cover !important;
}

.about__mid-7 .image-1 { 
  width: 140px;
  height: 160px;
  object-fit: cover;
}

.about__right-7 img { 
  width: 220px;
  height: 290px;
  object-fit: cover;
}

.story-img-short { 
  width: 230px !important;
  height: 140px;
  object-fit: cover;
}

.menu-anim-link {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;

}

.menu-link-i-letter {
  width: 5px !important;
}

.menu-anim-linkSub {
  position: absolute;
  top: 18px;
  left: 0;
  transition: all 0.3s ease-in-out;

}

.menu-anim-link1 {
  transition: all 0.2s ease-in-out;
}

.menu-anim-linkSub1 {
  transition: all 0.3s ease-in-out;
}

.menu-anim-link2 {
  transition: all 0.3s ease-in-out;
}

.menu-anim-linkSub2 {
  transition: all 0.4s ease-in-out;
}

.menu-anim-link3 {
  transition: all 0.4s ease-in-out;
}

.menu-anim-linkSub3 {
  transition: all 0.5s ease-in-out;
}

.menu-anim-link4 {
  transition: all 0.5s ease-in-out;
}

.menu-anim-linkSub4 {
  transition: all 0.6s ease-in-out;
}

.menu-anim-link5 {
  transition: all 0.6s ease-in-out;
}

.menu-anim-linkSub5 {
  transition: all 0.7s ease-in-out;
}

.menu-anim-link6 {
  transition: all 0.7s ease-in-out;
}

.menu-anim-linkSub6 {
  transition: all 0.8s ease-in-out;
}


.menu-anim-link7 {
  transition: all 0.8s ease-in-out;
}

.menu-anim-linkSub7 {
  transition: all 0.9s ease-in-out;
}


/* .menu-anim-wrapper .menu-anim-h::after {
  content: 'h';
  position: absolute;
  bottom: -9px;
  left: 0;
  color: #fff;
  font-size: 18px;
  transition: all 0.2s ease-in-out;

} */





.header-menu-wrapper:hover .menu-anim-link {
  top: -14px;
}

.header-menu-wrapper:hover .menu-anim-linkSub {
  top: 0px;
}

/*-------------home-page-end-------------*/

.header__logo-2 img {
  max-width: 160px;
}


.footer__logo-3 img {
  width: 40% !important;
}

.offcanvas__logo img {
  width: 95% !important;
}

.header__area-2 {
  background: rgb(34 34 34) !important;
}

.footer__area-3 {
  background-color: rgb(34 34 34) !important;
}

/*----------------------------------------*/
/*  11. CURSOR CSS START
/*----------------------------------------*/


.cursor {
	position: fixed;
	left: 0;
	pointer-events: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	color: var(--white);
	background: var(--black-2);
	text-transform: capitalize;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	transform: translate(-50%, -50%);
	z-index: 999;
	opacity: 0;
	mix-blend-mode: hard-light;
	transition: all 0.3s;

	&.large {
		width: 180px;
		height: 180px;
		text-align: center;
		font-size: 19px;
		font-weight: 400;
	}
}


.cursor1 {
	position: fixed;
	width: 40px;
	height: 40px;
	border: 1px solid var(--primary);
	border-radius: 50%;
	left: 0;
	top: 0;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: 0.15s;
	z-index: 999;
	mix-blend-mode: difference;

	@media (max-width: 1200px) {
		display: none;
	}

	&.hide {
		opacity: 0;
		visibility: hidden;
	}
}



.cursor2 {
	position: fixed;
	width: 8px;
	height: 8px;
	background-color: var(--primary);
	border-radius: 50%;
	left: 0;
	top: 0;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: 0.2s;
	z-index: 999;
	mix-blend-mode: difference;

	@media (max-width: 1200px) {
		display: none;
	}

	&.hide {
		opacity: 0;
		visibility: hidden;
	}

	&.circle {
		width: 60px;
		height: 60px;
	}
}

.cursor-testi {
	position: fixed;
	width: 80px;
	height: 80px;
	background-color: var(--black-2);
	border-radius: 50%;
	left: 0;
	top: 0;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: 0.2s;
	z-index: 999;

	@media (max-width: 1200px) {
		display: none;
	}

	&.hide {
		opacity: 0;
		visibility: hidden;
	}

	&.play {
		width: 100px;
		height: 100px;
		mix-blend-mode: unset;
		background-color: var(--black-2);

		&::after {
			position: absolute;
			content: "Play";
			color: var(--white);
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}



.checkbox:checked ~ .offcanvas__area {
  visibility: visible;
  opacity: 1;
}

#featured_cursor {
	background: var(--white);
	color: var(--black-2);
}

#client_cursor {
	@media (max-width: 1200px) {
		display: none;
	}
}

.cursor {
  position: fixed;
  left: 0;
  pointer-events: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: var(--white);
  background: var(--black-2);
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999;
  opacity: 0;
  mix-blend-mode: hard-light;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.cursor.large {
  width: 180px;
  height: 180px;
  text-align: center;
  font-size: 19px;
  font-weight: 400;
}

.cursor1 {
  position: fixed;
  width: 40px;
  height: 40px;
  border: 1px solid #7e21ce;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.15s;
  transition: 0.15s;
  z-index: 999;
  mix-blend-mode: difference;
}
@media (max-width: 1200px) {
  .cursor1 {
    display: none;
  }
}
.cursor1.hide {
  opacity: 0;
  visibility: hidden;
}

.cursor2 {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color:#7e21ce;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 999;
  mix-blend-mode: difference;
}
@media (max-width: 1200px) {
  .cursor2 {
    display: none;
  }
}
.cursor2.hide {
  opacity: 0;
  visibility: hidden;
}
.cursor2.circle {
  width: 60px;
  height: 60px;
}

.cursor-testi {
  position: fixed;
  width: 80px;
  height: 80px;
  background-color: var(--black-2);
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 999;
}
@media (max-width: 1200px) {
  .cursor-testi {
    display: none;
  }
}
.cursor-testi.hide {
  opacity: 0;
  visibility: hidden;
}
.cursor-testi.play {
  width: 100px;
  height: 100px;
  mix-blend-mode: unset;
  background-color: var(--black-2);
}
.cursor-testi.play::after {
  position: absolute;
  content: "Play";
  color: var(--white);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#featured_cursor {
  background: var(--white);
  color: var(--black-2);
}

@media (max-width: 1200px) {
  #client_cursor {
    display: none;
  }
}

.switcher__area {
  position: relative;
  direction: ltr;
}
@media only screen and (max-width: 767px) {
  .switcher__area {
    display: none;
  }
}
.switcher__icon {
  position: fixed;
  width: 50px;
  height: 50px;
  background: var(--white);
  right: 0;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 999;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  mix-blend-mode: exclusion;
}
.switcher__icon button {
  font-size: 24px;
  color: var(--black-2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.switcher__icon button:hover {
  color: var(--gray-2);
}
.switcher__icon button#switcher_open {
  -webkit-animation: wcSpinner 5s infinite linear;
          animation: wcSpinner 5s infinite linear;
}
.switcher__items {
  width: 280px;
  padding: 50px 30px;
  background: var(--black-2);
  position: fixed;
  right: -280px;
  top: 40%;
  z-index: 99;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: "Kanit", sans-serif;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.switcher__items .wc-col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.switcher__item {
  margin-bottom: 30px;
}
.switcher__item:nth-child(2) {
  margin-bottom: 0;
}
.switcher__item:last-child {
  margin-bottom: 0;
  display: none;
}
.switcher__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--white);
  text-transform: capitalize;
  padding-bottom: 10px;
}
.switcher__btn button {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--gray-2);
  background: #2B2B2F;
  border-radius: 4px;
  padding: 10px 15px;
  text-transform: capitalize;
}
.switcher__btn button:hover, .switcher__btn button.active {
  color: var(--white);
}
.switcher__btn select {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--gray-2);
  width: 100%;
  border: none;
  padding: 9px 10px;
  border-radius: 4px;
  background: #2B2B2F;
  text-transform: capitalize;
  outline: none;
  cursor: pointer;
}

#switcher_close {
  display: none;
}

// cursor css 

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}
.cursor--small {
  width: 10px;
  height: 10px;
  left: -2.5px;
  top: -2.5px;
  border-radius: 50%;
  z-index: 11000;
  background: var(--color-text);
}
.cursor--canvas {
  width: 100vw;
  height: 100vh;
  z-index: 12000;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-imageWrapper img {
  width: 240px;
  height: 160px;
  object-fit: cover;
}

/*----------------------------------------*/
/*  11. CURSOR CSS START
/*----------------------------------------*/

/*!
  * Kursor v0.1.5
  * Forged by Luis Daniel Rovira
  * Released under the MIT License.
  */
  .notCursor {
    cursor: none;
  }
  .notCursor * {
    cursor: none;
  }
  #kursorWrapper {
    position: fixed;
    z-index: 99;
    overflow: hidden;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  div[class*='kursor'] {
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 10000;
  }
  div[class*='kursor'].kursor--hidden {
    opacity: 0;
    width: 0px;
    height: 0px;
  }
  div[class*='kursor'].kursor--1 {
    left: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid rgba(var(--k-color), 1);
    transition: all 0.2s ease, top 0.18s ease-out, left 0.18s ease-out;
  }
  div[class*='kursor'].kursor--1 + .kursorChild {
    display: block;
    width: 4px;
    height: 4px;
    background: rgba(var(--k-color), 1);
    border-radius: 50%;
    transition: all 0.2s ease, top 0s ease-out, left 0s ease-out;
  }
  div[class*='kursor'].kursor--1.--hover {
    width: 40px;
    height: 40px;
    border: 2px solid rgba(var(--k-color), 0);
    background: rgba(var(--k-color), 0.1);
  }
  div[class*='kursor'].kursor--1.--hover + .kursorChild {
    background: rgba(var(--k-color), 0.3);
  }
  div[class*='kursor'].kursor--1.kursor--down {
    width: 20px;
    height: 20px;
  }
  div[class*='kursor'].kursor--1.kursor--down + .kursorChild:after {
    width: 40px !important;
    height: 40px !important;
    opacity: 0;
    border: 1px solid;
    border-radius: 50%;
    border-color: rgba(var(--k-color), 1);
    transition: all 0.4s ease;
  }
  div[class*='kursor'].kursor--2 {
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(var(--k-color), 1);
    transition: all 0.2s ease, top 0.1s ease-out, left 0.1s ease-out;
  }
  div[class*='kursor'].kursor--2 + .kursorChild {
    display: block;
    width: 4px;
    height: 4px;
    background: rgba(var(--k-color), 1);
    border-radius: 50%;
    transition: all 0.2s ease, top 0.2s ease-out, left 0.2s ease-out;
  }
  div[class*='kursor'].kursor--2.--hover {
    width: 40px;
    height: 40px;
    background: rgba(var(--k-color), 0.1);
  }
  div[class*='kursor'].kursor--2.--hover + .kursorChild {
    background: rgba(var(--k-color), 0.3);
  }
  div[class*='kursor'].kursor--2.kursor--down {
    width: 10px;
    height: 10px;
  }
  div[class*='kursor'].kursor--2.kursor--down + .kursorChild:after {
    width: 40px !important;
    height: 40px !important;
    opacity: 0;
    border: 1px solid;
    border-radius: 50%;
    border-color: rgba(var(--k-color), 1);
    transition: all 0.4s ease;
  }
  div[class*='kursor'].kursor--3 {
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(var(--k-color), 1);
    transition: all 0.2s ease, top 0.05s ease-out, left 0.05s ease-out;
  }
  div[class*='kursor'].kursor--3 + .kursorChild {
    display: block;
    width: 4px;
    height: 4px;
    background: rgba(var(--k-color), 1);
    transition: all 0.2s ease, top 0.2s ease-out, left 0.2s ease-out;
  }
  div[class*='kursor'].kursor--3.--hover {
    width: 40px;
    height: 40px;
    background: rgba(var(--k-color), 0.1);
    border: 1px solid rgba(var(--k-color), 0);
  }
  div[class*='kursor'].kursor--3.--hover + .kursorChild {
    background: rgba(var(--k-color), 0.3);
  }
  div[class*='kursor'].kursor--3.kursor--down {
    width: 5px;
    height: 5px;
    border: 1px solid rgba(var(--k-color), 0);
  }
  div[class*='kursor'].kursor--3.kursor--down + .kursorChild {
    width: 10px;
    height: 10px;
  }
  div[class*='kursor'].kursor--3.kursor--down + .kursorChild:after {
    width: 40px !important;
    height: 40px !important;
    opacity: 0;
    border: 1px solid;
    border-color: rgba(var(--k-color), 1);
    transition: all 0.4s ease;
  }
  div[class*='kursor'].kursor--4 {
    left: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(var(--k-color), 0.3);
    border-radius: 50%;
    transition: all 0.2s ease, top 0.2s ease-out, left 0.2s ease-out;
  }
  div[class*='kursor'].kursor--4 + .kursorChild {
    display: block;
    width: 6px;
    height: 6px;
    background: rgba(var(--k-color), 1);
    border-radius: 50%;
    transition: all 0.2s ease, top 0.03s ease-out, left 0.03s ease-out;
  }
  div[class*='kursor'].kursor--4.--hover {
    width: 30px;
    height: 30px;
    background: rgba(var(--k-color), 0.1);
    border: 3px solid rgba(var(--k-color), 0);
  }
  div[class*='kursor'].kursor--4.--hover + .kursorChild {
    width: 25px;
    height: 25px;
    background: rgba(var(--k-color), 0.1);
  }
  div[class*='kursor'].kursor--4.kursor--down {
    width: 5px;
    height: 5px;
  }
  div[class*='kursor'].kursor--4.kursor--down + .kursorChild {
    width: 10px;
    height: 10px;
  }
  div[class*='kursor'].kursor--4.kursor--down + .kursorChild:after {
    width: 40px !important;
    height: 40px !important;
    opacity: 0;
    border-radius: 50%;
    border: 1px solid;
    border-color: rgba(var(--k-color), 1);
    transition: all 0.4s ease;
  }
  div[class*='kursor'].kursor--5 {
    left: 0px;
    top: 0px;
    width: 10px;
    height: 10px;
    border: 1px solid rgba(var(--k-color), 0.5);
    border-radius: 50%;
    transition: all 0.2s ease, top 0.2s ease-out, left 0.2s ease-out;
  }
  div[class*='kursor'].kursor--5.--hover {
    width: 26px;
    height: 26px;
    background: rgba(var(--k-color), 0.1);
    border: 3px solid rgba(var(--k-color), 0);
  }
  div[class*='kursor'].kursor--5.kursor--down {
    width: 15px;
    height: 15px;
  }
  div[class*='kursorChild'] {
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    display: none;
    overflow: hidden;
  }
  div[class*='kursorChild'].kursorChild[class*='--hidden'] {
    opacity: 0;
    width: 0px;
    height: 0px;
  }
  div[class*='kursorChild'].kursorChild:after {
    content: '';
    pointer-events: none;
    width: 0px;
    height: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 1;
    border: 0px solid rgba(var(--k-color), 0.5);
    transform: translate(-50%, -50%);
  }
  .kursor--absolute {
    position: absolute !important;
    z-index: 2000;
  }
  @media screen and (max-width: 768px) {
    .notCursor * {
      cursor: auto;
    }
    div[class*='kursor'] {
      display: none !important;
    }
    div[class*='kursorChild'] {
      display: none !important;
    }
  }
  @media screen and (max-width: 812px) and (max-height: 430px) and (orientation: landscape) {
    div[class*='kursor'] {
      display: none !important;
    }
    div[class*='kursorChild'] {
      display: none !important;
    }
    .notCursor * {
      cursor: auto;
    }
  }
  


.cursor {
	position: fixed;
	left: 0;
	pointer-events: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	color: var(--white);
	background: var(--black-2);
	text-transform: capitalize;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	transform: translate(-50%, -50%);
	z-index: 999;
	opacity: 0;
	mix-blend-mode: hard-light;
	transition: all 0.3s;

	&.large {
		width: 180px;
		height: 180px;
		text-align: center;
		font-size: 19px;
		font-weight: 400;
	}
}


.cursor1 {
	position: fixed;
	width: 40px;
	height: 40px;
	border: 1px solid var(--primary);
	border-radius: 50%;
	left: 0;
	top: 0;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: 0.15s;
	z-index: 999;
	mix-blend-mode: difference;

	@media (max-width: 1200px) {
		display: none;
	}

	&.hide {
		opacity: 0;
		visibility: hidden;
	}
}

.cursor2 {
	position: fixed;
	width: 8px;
	height: 8px;
	background-color: var(--primary);
	border-radius: 50%;
	left: 0;
	top: 0;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: 0.2s;
	z-index: 999;
	mix-blend-mode: difference;

	@media (max-width: 1200px) {
		display: none;
	}

	&.hide {
		opacity: 0;
		visibility: hidden;
	}

	&.circle {
		width: 60px;
		height: 60px;
	}
}

.cursor-testi {
	position: fixed;
	width: 80px;
	height: 80px;
	background-color: var(--black-2);
	border-radius: 50%;
	left: 0;
	top: 0;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: 0.2s;
	z-index: 999;

	@media (max-width: 1200px) {
		display: none;
	}

	&.hide {
		opacity: 0;
		visibility: hidden;
	}

	&.play {
		width: 100px;
		height: 100px;
		mix-blend-mode: unset;
		background-color: var(--black-2);

		&::after {
			position: absolute;
			content: "Play";
			color: var(--white);
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}


#featured_cursor {
	background: var(--white);
	color: var(--black-2);
}

#client_cursor {
	@media (max-width: 1200px) {
		display: none;
	}
}

.home-bg-image {
  background-image: url(../imgs/home-7/client-meet.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

.home-vector {
  position: absolute;
  top: 10%;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: shape;
  right: 30px;

  width: 600px;
  z-index: 1;
}

@keyframes shape {
	0% {
		transform: translateY(-5%);
	}

  50% {
    transform: translateY(0);
  }

	100% {
		transform: translateY(5%);
	}
}

.home-vector img { 
  width: 100%;
  object-fit: cover;
}

/*-------------home-page-end-------------*/



/*-------------team-page-start-------------*/




/*-------------team-page-end-------------*/


/*-------------about-page-start-------------*/

/*-------------about-page-end-------------*/

/*-------------service-page-start-------------*/

/*-------------service-page-end-------------*/

/*-------------contact-page-start-------------*/

/*-------------contact-page-end-------------*/